  /* Create an accessible color palette using var()function */
  /* https://www.w3schools.com/css/css3_variables.asp */
  
  * {
    font-family: Roboto;
  }

  :root {
    --red: red;
    --grey: grey;
    --lightblue: lightblue;
    --black: black;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #ccc;
    border-radius: 16px;
    width:70%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--black);
    background: var(--lightblue);
  }

  .radio {
    display: flex;
    flex-direction: row;
    /* background: #575294; */
    color: var(--black);
  }
  
  .radio div {
    display: flex;
    align-items: center;
  }
  .radio input {
    margin-left: 20px;
    margin-right: 5px;
  }

  #name {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background: #ffffff;
    color: #9B9A6D;
  }

  #message {
    width: 100%;
    padding: 10px;
    resize: vertical;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid #000000;
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--black);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #224c24;
  }

  .skip {
      position: absolute;
      left: 40px;
      top: -500px;
      background-color: white;
      padding: 15px;
  }

  .skip:focus {
      top: 40px;
  }